.additional__products-title {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 24px;
  color: $color-text;
}

.additional__list {
  list-style-type: none;
}

.additional__subtitle {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-grey-2;
  text-transform: uppercase;
}

.additional__text {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
}

.additional__special-offer {
  font-family: $lato-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-mobile;
}
