.button {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-mobile;
  text-transform: uppercase;
  background-color: $bg-color-basic;
}

.button--primary {
  display: block;
  text-decoration: none;
  padding: 14px 44px;
  width: 280px;
  height: 40px;
  margin-top: 3px;
}

.button--additional-cards {
  color: $special-dark-grey;
  background-color: #f2f2f2;
  text-decoration: none;
}
