.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .footer {
    background-color: $color-section;
  }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__cat-energy {
  border-bottom: 1px solid $color-border-2;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .footer__cat-energy {
    border: 0 none;
    padding: 0;
  }
}

.footer__social-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  gap: 24px;
  border-bottom: 1px solid $color-border-2;
}

@media (min-width: $tablet-width) {
  .footer__social-item {
    border: 0 none;
    padding: 0;
  }
}

.footer__logo {
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .footer__logo {
    padding: 0;
    gap: 23px;
  }
}

.footer__logo-text {
  font-family: $lato-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
}

.footer__logo-link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .footer__logo-link {
    gap: 23px;
  }
}
