.header__navigation-list {
  list-style-type: none;
}

.header__navigation-link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: $color-text;
  text-decoration: none;
  text-transform: uppercase;
}
