.hero {
  background-image: url("../../images/cat-mobile@1x.jpg"), linear-gradient(to bottom, #61a53a 302px, transparent 302px);
  background-repeat: no-repeat;
  background-position: center top, center;
  background-size: 320px 302px, cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: none;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background-image: none;
  }
}

.hero__header {
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 36px;
  color: $color-mobile;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .hero__header {
    color: $color-text;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 90px;
    padding-top: 55px;
    text-align: left;
    max-width: 506px;
  }
}

@media (min-width: $desktop-width) {
  .hero__header {
    color: $color-text;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

.hero__slogan {
  font-family: $oswald-font;
  font-size: 14px;
  line-height: 14px;
  color: $color-mobile;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .hero__slogan {
    color: $color-text;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 21px;
    padding: 0;
    padding-left: 90px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .hero__slogan {
    color: $color-text;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .hero__product {
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
  }
}
