.how-it-works__header {
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 40px;
  color: $color-text;
}

.how-it-works__services {
  list-style-type: none;
}

.how-it-works__text {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}
