.how-it-works {
  border-bottom: 1px solid $color-border;
}

.how-it-works__header {
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 40px;
  color: $color-text;
  margin-top: 20px;
  text-align: justify;
}

@media (min-width: $tablet-width) {
  .how-it-works__header {
    font-size: 60px;
    line-height: 60px;
    font-style: normal;
    font-weight: 400;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.how-it-works__services {
  list-style-type: none;
  text-align: left;
  position: relative;
}

@media (min-width: $tablet-width) {
  .how-it-works__services {
    display: flex;
    gap: 37px 137px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .how-it-works__advantages-item {
    position: relative;
    display: flex;
    min-width: 249px;
    min-height: 280px;
  }
}

.how-it-works__advantages-item::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  background-color: $bg-color-basic;
  width: 60px;
  height: 60px;
  border: 1px solid $bg-color-basic;
}

@media (min-width: $tablet-width) {
  .how-it-works__advantages-item::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    background-color: $bg-color-basic;
    width: 80px;
    height: 80px;
    border: 1px solid $bg-color-basic;
  }
}

// @media (min-width: $tablet-width) {
//   .how-it-works__advantages-item::after {
//     counter-increment: how-it-works__services;
//     content: counter(how-it-works__services) "";
//     align-self: start;
//     position: absolute;
//     top: 36%;
//     left: 70%;
//     transform: translate(-50%, -50%);
//     font-size: 280px;
//     line-height: 280px;
//     color: $color-section;
//     z-index: -1;
//   }
// }

.how-it-works__advantages-sheet::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 78%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/sheet.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 32px;
}

@media (min-width: $tablet-width) {
  .how-it-works__advantages-sheet::after {
    content: "";
    display: block;
    position: absolute;
    top: 14%;
    right: 72%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/sheet.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 32px;
  }
}

.how-it-works__advantages-water::after {
  content: "";
  display: block;
  position: absolute;
  top: 37%;
  right: 80%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/water.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 26px;
  height: 28px;
}

@media (min-width: $tablet-width) {
  .how-it-works__advantages-water::after {
    content: "";
    display: block;
    position: absolute;
    top: 13%;
    right: 74%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/water.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 28px;
  }
}

.how-it-works__advantages-eat::after {
  content: "";
  display: block;
  position: absolute;
  top: 65%;
  right: 80%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/eat.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 30px;
}

@media (min-width: $tablet-width) {
  .how-it-works__advantages-eat::after {
    content: "";
    display: block;
    position: absolute;
    top: 15%;
    right: 74%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/eat.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 30px;
  }
}

.how-it-works__advantages-watch::after {
  content: "";
  display: block;
  position: absolute;
  top: 92%;
  right: 80%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/watch.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 26px;
  height: 31px;
}

@media (min-width: $tablet-width) {
  .how-it-works__advantages-watch::after {
    content: "";
    display: block;
    position: absolute;
    top: 14%;
    right: 73%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/watch.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 31px;
  }
}

.how-it-works__text {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  position: relative;
  padding-left: 41px;
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .how-it-works__text {
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-top: 151px;
    max-width: 204px;
  }
}
