.nutrition__item {
  background-color: #f2f2f2;
  margin-top: 20px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .nutrition__item {
    margin: 0;
  }
}

.nutrition__item-header {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 37px;
  color: $color-text;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .nutrition__item-header {
    font-size: 36px;
    line-height: 36px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 53px;
    padding-bottom: 15px;
    padding-top: 76px;
  }
}

.nutrition__item-text {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  border-bottom: 1px solid #d9d9d9;
  width: 227px;
  min-height: 90px;
  margin: 0;
  margin-left: 20px;
  text-align: left;
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .nutrition__item-text {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding-left: 52px;
    padding-top: 9px;
    margin: 0;
    min-width: 387px;
    min-height: 96px;
    border: 0 none;
  }
}

.nutrition__link-text {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  color: $color-text;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .nutrition__link-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 32px;
    padding-top: 14px;
    padding-bottom: 37px;
  }
}

.nutrition__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .nutrition__list {
    gap: 30px;
  }
}

.nutrition__item--slim::before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  left: 8%;
  background-color: $bg-color-basic;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $bg-color-basic;
}

@media (min-width: $tablet-width) {
  .nutrition__item--slim::before {
    width: 200px;
    height: 200px;
    top: 52%;
    left: 77%;
    transform: translate(-50%, -50%);
  }
}

.nutrition__item--pro::before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  left: 8%;
  background-color: $bg-color-basic;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $bg-color-basic;
}

@media (min-width: $tablet-width) {
  .nutrition__item--pro::before {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
  }
}

.nutrition__link {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 18px;
  padding-top: 15px;
  gap: 15px;
}

@media (min-width: $tablet-width) {
  .nutrition__link {
    gap: 25px;
  }
}

.nutrition__item--slim::after {
  content: "";
  display: block;
  position: absolute;
  top: 9%;
  left: 10%;
  background-image: url("../../images/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 36px;
  min-height: 50px;
}

@media (min-width: $tablet-width) {
  .nutrition__item--slim::after {
    width: 140px;
    height: 194px;
    top: 48%;
    left: 77%;
    transform: translate(-50%, -50%);
  }
}

.nutrition__item--pro::after {
  content: "";
  display: block;
  position: absolute;
  top: 15%;
  left: 4%;
  background-image: url("../../images/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 67px;
  min-height: 28px;
}

@media (min-width: $tablet-width) {
  .nutrition__item--pro::after {
    width: 268px;
    height: 112px;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $tablet-width) {
  .nutrition__svg {
    margin-bottom: 23px;
  }
}
