.nutrition__item {
  background-color: #f2f2f2;
}

.nutrition__item-header {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 37px;
  color: $color-text;
  margin: 0;
}

.nutrition__item-text {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  border-bottom: 1px solid #d9d9d9;
  min-width: 227px;
  min-height: 90px;
}

.nutrition__link-text {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 16px;
  color: $color-text;
  margin: 0;
}

.nutrition__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.nutrition__link {
  text-decoration: none;
}

.nutrition__item--slim::after {
  content: "";
  background-image: url("../../images/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nutrition__item--pro::after {
  content: "";
  background-image: url("../../images/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
