.products__header-title {
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 36px;
  color: $color-text;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .products__header-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin-top: 55px;
    margin-bottom: 96px;
    text-align: left;
  }
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}

.products__item::after {
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .products__item {
    max-width: 324px;
  }
}

.products__card {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .products__card {
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 324px;
    min-height: 399px;
    padding: 10px 37px 40px 37px;
    text-align: -webkit-center;
    background-image: linear-gradient(to bottom, $color-mobile 14%, $bg-color 7%);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }
}

.products__card-image {
  width: 140px;
  height: 107px;
}

@media (min-width: $tablet-width) {
  .products__images-food {
    margin-top: 16px;
    margin-left: -10px;
  }
}

@media (min-width: $tablet-width) {
  .products__card-wrapper {
    margin-top: 113px;
  }
}

.products__title {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey-2;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  max-width: 76px;
  max-height: 41px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .products__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    min-width: 135px;
    min-height: 48px;
    text-align: center;
    margin-bottom: 11px;
  }
}

.products__table {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .products__table {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 8px;
  }
}

.products__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 140px;
}

@media (min-width: $tablet-width) {
  .products__header {
    padding-bottom: 2px;
    border-bottom: 1px solid $color-checkbox;
  }
}

.products__text {
  font-family: $lato-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .products__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}


.products__title-cards {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey-2;
  text-transform: uppercase;
  margin: 0;
  margin-top: 38px;
}

@media (min-width: $tablet-width) {
  .products__title-cards {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.products__text-cards {
  font-family: $lato-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  margin: 0;
  margin-bottom: 33px;
  padding-top: 8px;
}

@media (min-width: $tablet-width) {
  .products__text-cards {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
}

.products__additional-cards {
  padding-top: 40px;
  padding-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .products__additional-cards {
    max-width: 324px;
  }
}

.products__line {
  position: relative;
}

.products__card-add,
.products__card-line {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  left: 44%;
  border: 1px solid $bg-color;
}

.products__card-line {
  transform: rotate(90deg);
}
