.products__header-title {
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 36px;
  color: $color-text;
}

.products__list {
  list-style-type: none;
}

.products__title {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey-2;
  text-transform: uppercase;
}

.products__text {
  font-family: $lato-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.products__title-cards {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey-2;
  text-transform: uppercase;
  align-items: center;
}

.products__text-cards {
  font-family: $lato-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  align-items: center;
}
