.program__header-title {
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 36px;
  color: $color-text;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .program__header-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 54px;
    margin-top: 65px;
  }
}

.program__text {
  font-family: $oswald-font;
  font-size: 14px;
  line-height: 18px;
  color: $color-text;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .program__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 66px;
  }
}

.program__cat-data {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .program__cat-data {
    flex-direction: column;
    padding-bottom: 72px;
  }
}

.program__cat-data-name,
.program__cat-data-weight,
.program__cat-data-age {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
  display: flex;
  gap: 13px;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .program__cat-data-name,
  .program__cat-data-weight,
  .program__cat-data-age {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .program__weight {
    width: 88px;
    text-align: left;
  }
}

.program__age {
  width: 94px;
}

@media (min-width: $tablet-width) {
  .program__age {
    width: 147px;
    text-align: left;
  }
}

.program__control-label {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
  padding-left: 45px;
}

@media (min-width: $tablet-width) {
  .program__control-label {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 60px;
  }
}

.program__contact-data {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 26px;
  color: $color-text;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 35px;
  padding-left: 20px;
  text-align: left;
  background-color: $color-mobile;
}

@media (min-width: $tablet-width) {
  .program__contact-data {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 65px;
    margin-bottom: 76px;
    margin-left: 30px;
    padding-left: 40px;
  }
}

.program__container-title {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 63%;
    transform: translateY(-50%);
    z-index: -1;
    height: 2px;
    background-color: $bg-color-basic;
    min-width: 300px;
  }
}

.program__contact-container {
  max-width: 227px;
}

@media (min-width: $tablet-width) {
  .program__contact-container {
    max-width: 622px;
  }
}

.program__comment-container {
  max-width: 161px;
}

@media (min-width: $tablet-width) {
  .program__comment-container {
    max-width: 292px;
  }
}

.program__additionally-container {
  max-width: 181px;
}

@media (min-width: $tablet-width) {
  .program__additionally-container {
    max-width: 322px;
  }
}

.program__container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .program__container {
    flex-direction: column;
  }
}

.program__svg-mail,
.program__svg-phone {
  position: absolute;
  top: 23px;
  right: -2%;
  transform: translate(-50%, -50%);
}

.program__svg-phone {
  top: 82px;
  right: -2%;
}

@media (min-width: $tablet-width) {
  .program__svg-mail,
  .program__svg-phone {
    right: 0;
  }
}

.program__contact-data-email,
.program__contact-data-number {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
  display: flex;
  gap: 13px;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .program__email {
    min-width: 63px;
  }
}

.program__contact-email {
  min-width: 217px;
}

@media (min-width: $tablet-width) {
  .program__contact-email {
    width: 100%;
  }
}

.program__contact-number {
  min-width: 200px;
}

@media (min-width: $tablet-width) {
  .program__contact-number {
    width: 100%;
  }
}

.program__comment-subtitle-text {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 26px;
  color: $color-text;
}

.program__textarea {
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
  width: 100%;
  min-height: 150px;
  padding-top: 14px;
  padding-left: 15px;
  padding-right: 14px;
}

.program__checkbox-container-additionally {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 26px;
  color: $color-text;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 23px;
  padding-left: 20px;
  background-color: $color-mobile;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .program__checkbox-container-additionally {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-left: 30px;
    margin-top: 65px;
    margin-bottom: 62px;
    padding-left: 40px;
  }
}

@media (min-width: $tablet-width) {
  .program__fields {
    position: relative;
  }
}

.program__required-fields {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 16px;
  color: $color-text;
  margin: 0;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .program__required-fields {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    max-width: 178px;
    position: absolute;
    right: -2%;
    top: 54%;
    transform: translate(-50%, -50%);
  }
}

.program__cat-data-placeholder,
.program__contact-email,
.program__contact-number {
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 15px;
}

.program__name-placeholder {
  width: 228px;
}

.program__weight-placeholder {
  width: 207px;
}

.program__age-placeholder {
  width: 173px;
}

@media (min-width: $tablet-width) {
  .program__name-placeholder,
  .program__weight-placeholder,
  .program__age-placeholder {
    width: 100%;
  }
}

.program__radio-container {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .program__radio-container {
    border: 1px solid #e7e7e7;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 32px;
    padding-left: 27px;
  }
}

.program__control {
  position: relative;
}

.program__control-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.program__radio {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid $color-border-2;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
}

.program__radio::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg-color-basic;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  opacity: 0;
  z-index: 2;
}

.program__control-input:checked + .program__radio::after {
  opacity: 1;
}

.program__comment-subtitle {
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 26px;
  color: $color-text;
  margin: 0;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 38px;
  padding-left: 20px;
  background-color: $color-mobile;
}

@media (min-width: $tablet-width) {
  .program__comment-subtitle {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 65px;
    margin-bottom: 87px;
    margin-left: 30px;
    padding-left: 40px;
  }
}

.program__textarea-text {
  padding-top: 14px;
  padding-left: 15px;
  padding-right: 14px;
}

.program__checkbox-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

@media (min-width: $tablet-width) {
  .program__checkbox-container {
    display: flex;
    flex-direction: row;
  }
}

.program__checkbox {
  border: 1px solid $color-checkbox;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -6px;
}

@media (min-width: $tablet-width) {
  .program__checkbox {
    width: 40px;
    height: 40px;
    top: -12px;
  }
}

.program__checkbox::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 14px;
  opacity: 0;
  z-index: 2;
}

.program__control-input:checked + .program__checkbox::after {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .program__wrapper-sweetener {
    margin-right: 123px;
  }
}

@media (min-width: $tablet-width) {
  .program__wrapper-milk {
    margin-right: 216px;
  }
}
